<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>MCD - Hora de aventuras</title>
<link href="css/estilos.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/acciones.js"></script>
<meta name="viewport" content="width=810px; user-scalable=0;">
<!-- You can use Open Graph tags to customize link previews.
Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
<meta property="og:url"           content="https://promofb.es/tab_horadeaventuras" />
<meta property="og:type"          content="website" />
{% block titlecompartir %}
<meta property="og:title"         content="¡Me ha tocado Fin!" />
{% endblock %}
<meta property="og:description"   content="Descubre qué personaje de Hora de Aventuras te representa ¡y participa para ganar divertidos premios!" />
<meta property="fb:app_id" content="964761096998133"/>
{% block imagencompartir %}
<meta property="og:image"         content="https://promofb.es/tab_horadeaventuras/imagenes/compartir/finn.jpg" />
{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-79453141-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-79453141-6');
</script>
<script>
function statusChangeCallback(response) {
 if (response.status === 'connected') {
		//  alert('Logged into your app and Facebook.111');
			 $(".loginfb").hide();$(".participap").show();
		testAPI();
		} else if (response.status === 'not_authorized') {
			alert('The person is logged into Facebook, but not your app.111');
	    FB.login(function(response) {
				 if (response.status === 'connected') {
					 alert('Logged into your app and Facebook.222');
				   $(".loginfb").hide();$(".participap").show();
				 } else if (response.status === 'not_authorized') {
					 alert(' The person is logged into Facebook, but not your app.222');
           $(".participap").show();$(".loginfb").hide();
				 } else {
					 window.location="https://promofb.es/tab_horadeaventuras/index.php";
					 //alert('The person is not logged into Facebook, so were not sure if they are logged into this app or not.');
				 }
				}, {
				 scope: 'email'
		 	});

		} else {
			alert('The person is not logged into Facebook, so were not sure if');
			// they are logged into this app or not.
			$(".participap").hide();  $(".loginfb").show();
		}
	}

// This function is called when someone finishes with the LoginButton.  See the onlogin handler attached to it in the samplecode below.

function checkLoginState() {
   FB.getLoginStatus(function(response) {
  	 statusChangeCallback(response);
   });
}

window.fbAsyncInit = function() {

FB.init({
 appId      : '964761096998133',
 cookie     : true,  // enable cookies to allow the server to access
 xfbml      : true,  // parse social plugins on this page
 version    : 'v2.9' // use graph api version 2.8
});
// Now that we've initialized the JavaScript SDK, we call
// FB.getLoginStatus().  This function gets the state of the
// person visiting this page and can return one of three states to
// the callback you provide.  They can be:
// 1. Logged into your app ('connected')
// 2. Logged into Facebook, but not your app ('not_authorized')
// 3. Not logged into Facebook and can't tell if they are logged into
//    your app or not.
// These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
   statusChangeCallback(response);
  });
};
// Load the SDK asynchronously
(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

function testAPI() {
 FB.api('/me', function(response) {
	 string = response.name.split(" ");
	 $("#nombre").val(string[0]);
	 if(string[2]) { ape = string[1]+" "+string[2]; } else { ape = string[1]; }
	 $("#apellidos").val(ape);
	 $("#email").val(response.email);
	 $("#fbid").val(response.id);
 });
}
</script>
</head>
<body>
	<div class="wrapper">
		<div class="contenedor">
			<div class="cabecera">
				<img src="imagenes/titulo.png">
			</div>
			<div id="error" style="display:none;"><p>¡Oops!<br><br><span class="text1">Debes rellenar todos los campos para recibir tu premio.</span></p>
				<div class="aspa" onclick="cierra()" style="cursor:pointer;"></div>
			</div>
        {% block content %}

        {% endblock %}
    </div>
    <div class="logos">
      <img src="imagenes/logos.png">
    </div>
  </div>
</body>
</html>
