{% extends "base.html" %}

{% block content %}
<form action="formulario.php" method="post" name="form2" id="form2" onsubmit="validateForm(); return false;">
<div class="pagina" id="pagina4" style="display: block">
  <p class="destacado">¡Has ganado un premio que te llevará directo<br> al divertido mundo de Ooo!</p>
  <p>Por favor, rellena el siguiente formulario y nos<br> pondremos en contacto contigo para entregarte el premio.</p>
  <p>selecciona tu premio</p>
  <table width="600" cellpadding="5" cellspacing="7" border="0">
    <tr>
      <td colspan="2">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="seleccionpremio">
          <tr>
            {% if princesa == 1 %}
            <td alig="center"><img src="imagenes/gafas_princesa.png" onclick="document.getElementById('premio1').click();"><br><input type="radio" name="premio" id="premio1" value="gafas_princesa"><label for="premio1">Gafas Princesa chicle</label></td>
            {% else %}<td></td>{% endif %}
            {% if jake == 1 %}
            <td alig="center"><img src="imagenes/gafas_jake.png" onclick="document.getElementById('premio2').click();"><br><input type="radio" name="premio" id="premio2" value="gafas_jake"><label for="premio2">Jake el perro</label></td>
            {% else %}<td></td>{% endif %}
            {% if libros == 1 %}
            <td alig="center"><img src="imagenes/libros.png" onclick="document.getElementById('premio3').click();"><br><input type="radio" name="premio" id="premio3" value="pack_libros"><label for="premio3">Pack 4 libros</label></td>
            {% else %}<td></td>{% endif %}
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><input type="text" class="medio" name="nombre" id="nombre" placeholder="Nombre" style="width:250px;"></td>
      <td><input type="text" class="medio" name="apellidos" id="apellidos" placeholder="Apellidos"></td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="email" class="normal" name="email" id="email" placeholder="Email">
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="text" class="normal" name="direccion" id="direccion" placeholder="Dirección">
      </td>
    </tr>
    <tr>
      <td><input type="text" class="medio" placeholder="Ciudad" name="ciudad" id="ciudad"></td>
      <td><input type="text" class="medio" placeholder="Código Postal" name="cp" id="cp"></td>
    </tr>
    <tr>
      <td><input type="tel" class="medio" placeholder="Teléfono" name="telefono" id="telefono"></td>
      <td><!-- <input type="text" class="medio" placeholder="Mes y año de nacimiento" name="nacimiento" id="nacimiento"> -->
          <select class="medio-select" name="mes" id="mes" style="width:160px;" placeholder="Mes de Nacimiento">
            <option value="">Mes de Nacimiento</option>
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
          <select class="medio-select" name="ano" id="ano" style="width:140px;">
            {% set minimumYear = 1950 %}
            {% set currentYear = 1999 %}
            <option value="" style="color:#999;">Año de Nacimiento</option>
            {% for year in (currentYear+1)..minimumYear %}
                   <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
          </select>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="center">
        <input type="checkbox" id="micheck" name="micheck"><label for="micheck">Acepto <a href="#" target="_blank">términos y condiciones</a></label>
      </td>
    </tr>
  </table>
  <p><input type="submit" value="¡Enviar datos!" class="btn" onclick="gtag('event', 'Enviar Datos');"></p>
  <p><img src="imagenes/imagen3.png"></p>
</div>
<input type="hidden" name="fbid" id="fbid" value="" />
</form>
{% endblock %}
